# Node modules
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
*.swp

# Cache
.cache/
.parcel-cache/
.next/
out/

# Temporary files
*.tmp
*.temp

# Testing
coverage/

# Local database files
*.sqlite
*.db
package-lock.json
robots.txt
manifest.json